# Python-specific ignores
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
*.egg

# Poetry-specific ignores
__pypackages__/
.venv/
.venv*/
.venv*/
.poetry/
.poetry.toml
poetry.lock

# pytest-specific ignores
# Ignore pytest cache and temporary files
.pytest_cache/
pytestdebug.log

# Ignore pytest HTML report files
report.html

# Ignore .env file
.env